label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Button */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn-ghost:hover,
.btn-ghost:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #e67e22;
    color: #fff;
}

/* Button */

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Satisfy', 'Arial', sans-serif, cursive;
}
h3{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 200%;
  word-spacing: 4px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Satisfy', 'Arial', sans-serif, cursive;
  text-align: center;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://www.touchdynamic.com/wp-content/uploads/2016/08/retail-pos-software.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: inherit;
}